html,
body {
  position: relative;
  overflow-x: hidden;
  line-height: 1.4;
}
* {
  font-family: "FiraGO", sans-serif;
}
.burger-active {
  display: block;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
a {
  color: $black;
}
.title {
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: $XLFont;
  font-weight: bold;
  line-height: 1.4;
  font-family: "FiraGO", sans-serif;
  .wordAlign {
    text-align: center;
  }
  h3 {
    @media (max-width: 960px) {
      font-size: 16px;
    }
    @media (max-width: 476px) {
      width: 80%;
      display: block;
      margin: 0 auto;
      font-size: 0.8em;
    }
  }
}
.full-dictionary {
  padding: 47px 0;
  font-size: $MFont;
  @media (max-width: 960px) {
    font-style: normal;
    font-size: 16px;
  }
  @media (max-width: 476px) {
    font-size: 12px;
    text-align: center;
  }
  a {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    &::after {
      content: " ";
      display: block;
      background: url("/images/icons/arrowright.svg") no-repeat;
      width: 24px;
      height: 24px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: -7px;
    }
  }
}
.header {
  padding: 45px 0;
  color: $black;
  @media (max-width: 960px) {
    padding: 16px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 960px) {
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__logo {
    display: none;
    @media (max-width: 960px) {
      display: block;
      font-size: 16px;
      margin: 0 auto;
    }
    &-text {
      @media (max-width: 960px) {
        width: 75px;
      }
      img {
        width: 226px;
        @media (max-width: 960px) {
          width: 100%;
        }
      }
    }
    font-size: 26px;
  }
  &__burger {
    display: none;
    cursor: pointer;
    @media (max-width: 960px) {
      display: block;
      margin-left: 50px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    a {
      margin: 0 25.5px;
      font-size: 18px;
    }
    @media (max-width: 960px) {
      display: none;
    }

    li.active {
      color: $footerBackground;
    }
  }
  &__nav.burger-active {
    @media (max-width: 960px) {
      z-index: 10;
      display: block;
      width: 35%;
      position: absolute;
      top: 58.5px;
      right: 0;
      padding-left: 15px;
      background: #fff;
      border-bottom-left-radius: 8px;
      box-shadow: 4px 2px 6px 2px rgba(222, 222, 222, 0.25);
      li {
        font-size: 10px;
        position: relative;
        margin-right: 15px;
        margin-top: 5px;
        &::after {
          content: " ";
          display: block;
          position: absolute;
          bottom: -100%;
          left: 0;
          background-color: #eeeeee;
          width: 110%;
          height: 1px;
        }
      }
      li.last {
        &::after {
          content: " ";
          display: none;
        }
      }
      li.active {
        margin-top: 0;
      }
    }
  }
}
.search-secondary {
  background: $footerBackground;
  padding: 8px 0;
  form {
    position: relative;
    #searched-words {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      background: $mainBackground;
      border-radius: 18px;
      z-index: 9;
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
        padding: 0.6rem 1rem;
      }
    }
  }
  &__input {
    width: 550px;
    position: relative;
    margin: 0 auto;
    @media (max-width: 960px) {
      width: 80%;
    }
    img {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    input {
      width: 100%;
      padding: 13px 50px 13px 20px;
      border: none;
      border-radius: 12px;
      background-color: $mainBackground;
      font-size: 13px;
      background: #fff;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.footer {
  margin-top: 60px;
  padding: 57px 0 23px 0;
  background: $footerBackground;
  color: #ffff;
  @media (max-width: 960px) {
    margin-top: 10px;
    padding: 12px 15px;
  }
  &__first-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      margin-top: 29px;
    }
  }
  &__first {
    @media (max-width: 960px) {
      margin-right: 20px;
      width: 100%;
    }
    &__logo {
      width: 120px;
      img {
        width: 216px;
        @media (max-width: 960px) {
          width: 100%;
        }
      }
    }
    &__socials {
      margin: 80px 0;
      @media (max-width: 960px) {
        display: flex;
        margin: 50px 0;
      }
      img {
        margin-right: 20px;
        @media (max-width: 960px) {
          display: flex;
          margin-right: 10px;
          width: 15px;
        }
      }
    }
    &__rights {
      width: 254px;
      font-size: 14px;
      @media (max-width: 960px) {
        font-size: 8px;
        width: 50%;
      }
    }
  }
  &__second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    @media (max-width: 960px) {
      flex-direction: column;
    }

    .pageUl {
      width: 254px;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
          font-size: $SFont;
          @media (max-width: 960px) {
            display: none;
          }
        }
        a {
          color: #ffff;
        }
      }
    }
  }
  &__input {
    width: 254px;
    position: relative;
    @media (max-width: 960px) {
      width: 120px;
      margin-left: 10px;
    }
    input {
      display: block;
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      border: none;
      margin-bottom: 20px;
      padding-right: 36px;
      @media (max-width: 960px) {
        font-size: 7px;
        margin-bottom: 10px;
        width: 100%;
        padding-right: 30px;
      }
    }
    a {
      font-size: 12px;
      color: #ffff;
      @media (max-width: 960px) {
        font-size: 7px;
      }
    }
    img {
      width: 23px;
      position: absolute;
      top: 14.5px;
      right: 8px;
      cursor: pointer;
      @media (max-width: 960px) {
        width: 17px;
        position: absolute;
        top: 12.5px;
        right: 8px;
        background: #fff;
      }
    }
    &__first {
      @media (max-width: 960px) {
        display: none;
      }
    }
    &__second {
      display: none;
      @media (max-width: 960px) {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-top: 35px;
      }
      // @media (max-width: 476px) {
      //   width: 100%;
      // }
    }
  }
  &__by {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    gap: 8px;
    @media (max-width: 580px) {
      display: none;
    }

    // &__responsive {
    //   display: none;
    //   @media (max-width: 960px) {
    //     display: block;
    //     width: 100%;
    //     font-size: 10px;
    //   }
    // }
  }
}
.error {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  a {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    img {
      width: 80%;
    }
  }
}
.msg-container {
  background: rgb(85 61 143);
  text-align: center;
  color: #f8f8fc;
  padding: 1rem;
}
.word-suggest-text {
  max-width: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
}
span[aria-current="page"] {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  background-color: #a29dc2;
  // padding: 3px 2px 3px 5px;
  border-radius: 50px;
  color: #fff;
  /* display: flex; */
  text-align: center;
  // margin: 0 4px;
}

.pagination {
  a {
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
  }
}
.add-word-form .submit button {
  color: #fff;
}
